@media (max-width: 600px) {
  body {
    background-color: rgb(242, 242, 242);
  }
  .back-icon {
    position: absolute;
    top: 30px;
    left: 41px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  .history {
    position: absolute;
    /* border-radius: var(--br-xl); */
    height: 896px;
    width: 100%;
    text-align: center;
    align-content: center;
    font-size: var(--font-size-mid);
    color: var(--color-black);
    font-family: var(--font-inter);
    /* background-color: black; */
  }

  .cart-foodmenusection {
    position: absolute;
    margin: 15px;
    left: -12px;
    top: 58px;
    width: 410px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: black; */
    overflow-x: hidden;
    overflow-y: scroll;
    /* white-space: nowrap; */
    /* z-index: 1; */
    
  }
}
